<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/leetd</RegistryUrl>
    <UserName>leetd</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3c2cc7c2-aec7-4818-93b2-3968adb5a567</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
    <AutoGenerateImageTag>true</AutoGenerateImageTag>
  </PropertyGroup>
</Project>